@font-face {
    font-family: Melbourne;
    src: url('/static/fonts/melbourne-bold.ttf');
    font-weight: 700;
  }
  @font-face {
      font-family: Melbourne;
      src: url('/static/fonts/melbourne.ttf');
      font-weight: 400;
  }
  @font-face {
      font-family: Melbourne;
      src: url('/static/fonts/melbourne-light.ttf');
      font-weight: 300;
  }